<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maktba | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/stylear.css'%}">
</head>

<body>
    <div class="navbar">
        <h1>Ebooks</h1>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'contact' %}">Contact us</a></li>
            <li><a href="{% url 'addbook' %}">Add Book</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">logout</a></li>
                {% else %}
            <li><a href="{% url 'register' %}">Registration</a></li>
            <li><a href="{% url 'login' %}">login</a></li>
            {% endif %}
        </ul>
    </div>
    {% block body %}{% endblock %}
    <div class="footer">
        <p>All copyright &copy; 2019 is resvered to Ebooks</p>
    </div>
</body>

</html>